<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>开始旅程</h4>
    {% include docs_ul.html items='home quickstart installation usage structure configuration' %}
    <h4>编辑内容</h4>
    {% include docs_ul.html items='frontmatter posts drafts pages variables migrations' %}
    <h4>自定义</h4>
    {% include docs_ul.html items='templates permalinks pagination plugins extras' %}
    <h4>部署</h4>
    {% include docs_ul.html items='github-pages deployment-methods' %}
    <h4>杂项</h4>
    {% include docs_ul.html items='troubleshooting sites resources upgrading' %}
    <h4>元信息</h4>
    {% include docs_ul.html items='contributing history' %}
  </aside>
</div>
